<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <title>We Service</title>
  </head>
  <body class="bg-warning">
  	<!--edit di sini, jangan ubah yang lainnya, yang lain template minimal soalnya!!!-->
    <h1>WeService</h1>
    
	
	<select id="regionselect">
		<option value="Aceh" selected>Aceh</option>
		<option value="SU">Sumatera Utara</option>
		<option value="SU">Sumatera Barat</option>
		<option value="SU">Jambi</option>
		<option value="SU">Bengkulu</option>
		<option value="SU">Riau</option>
		<option value="SU">Kepulauan Riau</option>
		<option value="SU">Sumatera Selatan</option>
		<option value="SU">Bangka Belitung</option>
		<option value="SU">Lampung</option>
		<option value="SU">Banten</option>
		<option value="SU">Jawa Barat</option>
		<option value="SU">Jawa Tengah</option>
		<option value="SU">DI Yogyakarta</option>
		<option value="SU">Jawa Timur</option>
		<option value="SU">DI Yogyakarta</option>
		<option value="SU">Bali</option>
		<option value="SU">NTB</option>
		<option value="SU">NTT</option>
		<option value="SU">Kalimantan Barat</option>
		<option value="SU">Kalimantan Tengah</option>
		<option value="SU">Kalimantan Selatan</option>
		<option value="SU">Kalimantan Timur</option>
		<option value="SU">Gorontalo</option>
		<option value="SU">Sulawesi Utara</option>
		<option value="SU">Sulawesi Tengah</option>
		<option value="SU">Sulawesi Tenggara</option>
		<option value="SU">Sulawesi Selatan</option>
		<option value="SU">Sulawesi Barat</option>
		<option value="SU">Maluku</option>
		<option value="SU">Maluku Utara</option>
		<option value="SU">Papua Barat</option>
		<option value="SU">Papua</option>
	</select><br><br>
	
	<input class="btn btn-primary" type="button" name="" value="Lihat"/>
	<!--<a href="#" class="btn btn-info" role="button">Link Button</a>-->
	<!--batas edit-->

    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
