@(kotaList: List[models.Kota])
<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["map"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Lat', 'Long', 'Name', 'Marker'],
          @for(kota<-kotaList){
          	@if(!kota.lintang.equals("-")){
          		[@kota.lintang, @kota.bujur, '@kota.nama: @kota.cuaca @kota.suhuMax-@kota.suhuMin',  'blue'],
          	}
          }
        ]);
        var url = 'http://icons.iconarchive.com/icons/icons-land/vista-map-markers/48/';
        var options = {
        showTip: true,
        useMapTypeControl: true,
        icons: {
          blue: {
            normal:   url + 'Map-Marker-Ball-Azure-icon.png',
            selected: url + 'Map-Marker-Ball-Right-Azure-icon.png'
          }
        }
      };
        var map = new google.visualization.Map(document.getElementById('map_div'));
        map.draw(data, options);
      }

    </script>
    <title>WeService | West Java's Weather Forecast</title>
  </head>

  <body>
    <div id="map_div" style="width: 800px; height: 600px"></div>
  </body>
</html>

<!--- https://developers.google.com/chart/interactive/docs/gallery/map?hl=en#fullhtml -->