@(kotaList: List[models.Kota])
<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["map"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Lat', 'Long', 'Name'],
          @for(kota<-kotaList){
          	@if(!kota.lintang.equals("-")){
          		[@kota.lintang, @kota.bujur, '@kota.nama'],
          	}
          }
        ]);

        var map = new google.visualization.Map(document.getElementById('map_div'));
        map.draw(data, {showTip: true});
      }

    </script>
  </head>

  <body>
    <div id="map_div" style="width: 800px; height: 600px"></div>
  </body>
</html>

<!--- https://developers.google.com/chart/interactive/docs/gallery/map?hl=en#fullhtml -->